.btn-secondary {
    color: #ffffff;
    background-color: #122AA0;
}

.btn-primary {
    background-color: #122AA0;
}

/*.o_notebook .nav-item {
    background-color: #122AA0;
}

.nav-tabs .nav-link {
    color: #ffffff;
}