<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_my_financial_accounting_approvals"
          name="Financial Accounting"
          parent="de_hr_workspace.menu_my_employee_approvals"
          sequence="40"
          groups="de_hr_workspace.group_hr_employee_approvals,pr_account.custom_group_accounting_manager"/>
   
</odoo>
